body {
	font-family: sans-serif;
    text-align: center;
	margin-top: 0px;
}
canvas {
	border: 0px solid #ccc;
}


#center-wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto; /* horizontal centering */
  height: 300px;
}

#wheel-container {
  position: relative;
  width: 300px;
  height: 300px;
}

#pointer {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 20px solid green;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  z-index: 10;
}

#text-box {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 20px;
  width: 250px;
  /*height: 100px;*/
  background: #f9f9f9;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-group {
	margin: 15px;
}