body {
	font-family: sans-serif;
    text-align: center;
	margin-top: 0px;
}
canvas {
	border: 0px solid #ccc;
}


#center-wrapper {
  position: relative;
  //width: fit-content;
  width: 410px;
  margin: 0 auto; /* horizontal centering */
  height: 460px;
  //background: #00ff00;
  background-image: url("media2.png");
  background-repeat: no-repeat;
  padding-top:5px;
}

#wheel-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  //background: #ff0000;
}

#pointer {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 20px solid green;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  z-index: 10;
  margin-left: 5px;
}

#text-box {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 20px;
  margin-top: -30px;
  width: 250px;
  /*height: 100px;*/
  background: #f9f9f9;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

#history-box {
  position: absolute;
  top: 50%;
  right: 120%;
  transform: translateY(-50%);
  margin-left: 20px;
  width: 400px;
  /*height: 100px;*/
  background: #f9f9f9;
  border: 1px solid #ccc;
  /*display: flex;*/
  align-items: left;
  justify-content: center;
}

#spinHistory {
  position: absolute;
  align: right;
}

#center-wrapper2 {
  position: relative;
  width: 450px;
  margin: 0 auto; /* horizontal centering */
}

.checkbox-group {
	margin: 15px;
}

#spin-button {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #000000;/*4CAF50*/
  background-image: url("ball.png");
  background-repeat: no-repeat;
  background-size: 77.5px;
  color: white;
  border: 1px solid #000000;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}